<div class="container">
    <h1 class="text-center mb-3">Todo List By CodeByVivek</h1>
    <app-add-todo (todoAdd)="addTodo($event)" ></app-add-todo>
    <h3>Your Todo</h3>
    <div *ngIf="this.todos.length===0; else elseBlock">No Todos to display.</div>
    <ng-template #elseBlock>
        <div *ngFor="let todo of todos; index as i">
            <app-todo-item [todo]="todo" [i]="i" (todoDelete)="deleteTodo($event)" (todoCheckBox)="toggleTodo($event)"></app-todo-item>
        </div>
    </ng-template>
</div>

